<mat-card
	[id]="article._id"
	*ngFor="let article of articles"
	[ngClass]="{ 'mat-elevation-z8': fragment === article._id }"
>
	<mat-card-title-group>
		<img mat-card-sm-image [src]="article.poster.img | secure | async" />
		<a mat-card-title [routerLink]="'/profile/' + article.poster._id">{{ article.poster.name }}</a>
		<a mat-card-subtitle [routerLink]="'/profile/' + article.poster._id" [fragment]="article._id">
			{{ article.createdAt | date: "medium" }}
		</a>
	</mat-card-title-group>
	<mat-card-content>
		<p class="article-text">{{ article.text }}</p>
		<div class="article-media">
			<div *ngFor="let file of article.media">
				<img *ngIf="file.type.startsWith('image')" [src]="file.id | secure | async" />
				<audio controls *ngIf="file.type.startsWith('audio')" [src]="file.id | secure | async">
					Ο browser σας δεν υποστηρίζει αρχεία της μορφής {{ file.type }}
				</audio>
				<video controls *ngIf="file.type.startsWith('video')" [src]="file.id | secure | async">
					Ο browser σας δεν υποστηρίζει αρχεία της μορφής {{ file.type }}
				</video>
			</div>
		</div>
	</mat-card-content>
	<mat-card-actions>
		<button
			mat-button
			[ngClass]="{ 'mat-primary': isInterested(user, article) }"
			(click)="toggleInterest(article)"
		>
			<mat-icon>thumb_up</mat-icon>
			{{ isInterested(user, article) ? "Σας ενδιαφέρει" : "Σημείωση Ενδιαφέροντος" }}
		</button>
		<span *ngIf="article.interestNotes.length">
			{{ article.interestNotes.length }} χρήστες βρήκαν το άρθρο ενδιαφέρον
		</span>
		<div *ngIf="article.poster._id === user._id" class="delete-area">
			<button *ngIf="!article.delete" mat-button color="warn" (click)="article.delete = true">
				<mat-icon>delete_forever</mat-icon>
				Διαγραφή Άρθρου
			</button>
			<span *ngIf="article.delete">
				Σίγουρα?
				<button mat-raised-button color="warn" (click)="delete(article)">Ναι</button>
				<button mat-raised-button color="primary" (click)="article.delete = false">Όχι</button>
			</span>
		</div>
	</mat-card-actions>
	<section class="alt-background">
		<mat-form-field>
			<textarea
				matInput
				matTextareaAutosize
				placeholder="Αφήστε ένα σχόλιο..."
				[(ngModel)]="article.commentDraft"
				(keydown.enter)="comment(article)"
			></textarea>
		</mat-form-field>
		<div
			class="comment"
			[id]="comment._id"
			*ngFor="let comment of article.comments"
			[ngClass]="{ 'mat-elevation-z8': fragment === comment._id }"
		>
			<img mat-card-avatar [src]="comment.poster.img | secure | async" />
			<div class="comment-header">
				<a mat-card-title [routerLink]="'/profile/' + comment.poster._id">
					{{ comment.poster.name }}
				</a>
				<a
					mat-card-subtitle
					[routerLink]="'/profile/' + article.poster._id"
					[fragment]="comment._id"
				>
					{{ comment.createdAt | date: "medium" }}
				</a>
			</div>
			<p>{{ comment.text }}</p>
			<span class="flexExpand"></span>
			<div *ngIf="comment.poster._id === user._id" class="delete-area">
				<button
					*ngIf="!comment.delete"
					mat-icon-button
					color="warn"
					(click)="comment.delete = true"
				>
					<mat-icon>delete_forever</mat-icon>
				</button>
				<span *ngIf="comment.delete">
					Σίγουρα?
					<button
						mat-raised-button
						color="warn"
						(click)="deleteComment(article, comment)"
					>
						Ναι
					</button>
					<button mat-raised-button color="primary" (click)="comment.delete = false">
						Όχι
					</button>
				</span>
			</div>
		</div>
	</section>
</mat-card>
