<mat-card
  *ngFor="let article of articles"
  [id]="article._id"
  [ngClass]="{ 'mat-elevation-z8': fragment === article._id }"
>
  <mat-card-title-group>
    <img [src]="article.poster.img | secure | async" mat-card-sm-image />
    <a [routerLink]="'/profile/' + article.poster._id" mat-card-title>{{ article.poster.name }}</a>
    <a [routerLink]="'/profile/' + article.poster._id" [fragment]="article._id" mat-card-subtitle>
      {{ article.createdAt | date: "medium" }}
    </a>
  </mat-card-title-group>
  <mat-card-content>
    <p class="article-text">{{ article.text }}</p>
    <section class="article-media">
      <ng-container *ngFor="let file of article.media">
        <img *ngIf="file.type.startsWith('image')" [src]="file.id | secure | async" />
        <audio *ngIf="file.type.startsWith('audio')" [src]="file.id | secure | async" controls>
          Ο browser σας δεν υποστηρίζει αρχεία της μορφής {{ file.type }}
        </audio>
        <video *ngIf="file.type.startsWith('video')" [src]="file.id | secure | async" controls>
          Ο browser σας δεν υποστηρίζει αρχεία της μορφής {{ file.type }}
        </video>
      </ng-container>
    </section>
  </mat-card-content>
  <mat-card-actions>
    <button [ngClass]="{ 'mat-primary': isInterested(user, article) }" (click)="toggleInterest(article)" mat-button>
      <mat-icon>thumb_up</mat-icon>
      {{ isInterested(user, article) ? "Σας ενδιαφέρει" : "Σημείωση Ενδιαφέροντος" }}
    </button>
    <span *ngIf="article.interestNotes.length">
      {{ article.interestNotes.length }} χρήστες βρήκαν το άρθρο ενδιαφέρον
    </span>
    <section class="delete-area" *ngIf="article.poster._id === user._id">
      <button *ngIf="!article.delete; else confirmDelete" (click)="article.delete = true" mat-button color="warn">
        <mat-icon>delete_forever</mat-icon>
        Διαγραφή Άρθρου
      </button>
      <ng-template #confirmDelete>
        Σίγουρα?
        <button (click)="delete(article)" mat-raised-button color="warn">Ναι</button>
        <button (click)="article.delete = false" mat-raised-button color="primary">Όχι</button>
      </ng-template>
    </section>
  </mat-card-actions>
  <section class="alt-background">
    <mat-form-field>
      <textarea
        [(ngModel)]="article.commentDraft"
        (keydown.enter)="comment(article)"
        matInput
        matTextareaAutosize
        placeholder="Αφήστε ένα σχόλιο..."
      ></textarea>
    </mat-form-field>
    <div
      class="comment"
      *ngFor="let comment of article.comments"
      [id]="comment._id"
      [ngClass]="{ 'mat-elevation-z8': fragment === comment._id }"
    >
      <img [src]="comment.poster.img | secure | async" mat-card-avatar />
      <header>
        <a [routerLink]="'/profile/' + comment.poster._id" mat-card-title>
          {{ comment.poster.name }}
        </a>
        <a [routerLink]="'/profile/' + article.poster._id" [fragment]="comment._id" mat-card-subtitle>
          {{ comment.createdAt | date: "medium" }}
        </a>
      </header>
      <p>{{ comment.text }}</p>
      <span class="flexExpand"></span>
      <section class="delete-area" *ngIf="comment.poster._id === user._id">
        <button
          *ngIf="!comment.delete; else confirmDelete"
          (click)="comment.delete = true"
          mat-icon-button
          color="warn"
        >
          <mat-icon>delete_forever</mat-icon>
        </button>
        <ng-template #confirmDelete>
          Σίγουρα?
          <button (click)="deleteComment(article, comment)" mat-raised-button color="warn">Ναι</button>
          <button (click)="comment.delete = false" mat-raised-button color="primary">Όχι</button>
        </ng-template>
      </section>
    </div>
  </section>
</mat-card>
