<div *ngIf="viewedUser">
	<a mat-card-title-group class="profile-area" [routerLink]="'/profile/' + viewedUser._id">
		<img mat-card-avatar [src]="viewedUser.img | secure | async" />
		<h1>{{ viewedUser.name }}</h1>
	</a>
	<p *ngIf="viewedUser.bio">{{ viewedUser.bio }}</p>
	<mat-card-subtitle *ngIf="viewedUser.createdAt">
		Μέλος από {{ viewedUser.createdAt | date: "short" }}
	</mat-card-subtitle>
	<mat-list>
		<mat-list-item *ngIf="viewedUser.email">
			<span matLine>
				<mat-icon>contact_mail</mat-icon>
				{{ viewedUser.email }}
			</span>
		</mat-list-item>
		<mat-list-item *ngIf="viewedUser.phone">
			<span matLine>
				<mat-icon>contact_phone</mat-icon>
				{{ viewedUser.phone }}
			</span>
		</mat-list-item>
	</mat-list>
	<div *ngIf="user.role !== 'admin'">
		<a *ngIf="viewedUser._id === user._id" mat-raised-button color="accent" routerLink="/network">
			Το Δίκτυο μου
		</a>
		<div *ngIf="viewedUser._id !== user._id">
			<button
				*ngIf="!viewedUser.contact; else deleteContact"
				mat-raised-button
				color="primary"
				(click)="addContactRequest()"
			>
				Αίτημα Σύνδεσης
			</button>
			<ng-template #deleteContact>
				<a
					*ngIf="!viewedUser.delete"
					mat-raised-button
					color="accent"
					[routerLink]="'/discussions/' + viewedUser._id"
				>
					Συζήτηση
				</a>
				<button
					*ngIf="!viewedUser.delete"
					mat-raised-button
					color="warn"
					(click)="viewedUser.delete = true"
				>
					Διαγραφή
					{{ viewedUser.contact.accepted === false ? "Αιτήματος" : "Επαφής" }}
				</button>
				<span *ngIf="viewedUser.delete">
					Σίγουρα?
					<button mat-raised-button color="warn" (click)="_deleteContact()">Ναι</button>
					<button mat-raised-button color="primary" (click)="viewedUser.delete = false">
						Όχι
					</button>
				</span>
			</ng-template>
		</div>
	</div>
	<div id="top-contacts" *ngIf="topContacts && topContacts.length > 0">
		<h2 mat-card-title>Συχνές Επαφές</h2>
		<mat-list>
			<mat-list-item *ngFor="let contact of topContacts">
				<img matListAvatar [src]="contact.img | secure | async" />
				<a matLine [routerLink]="'/profile/' + contact._id">{{ contact.name }}</a>
			</mat-list-item>
		</mat-list>
	</div>
</div>
