<section class="container">
  <mat-card>
    <h2>Αιτήματα Σύνδεσης</h2>
    <mat-list>
      <mat-list-item *ngFor="let request of requests">
        <img [src]="request.sender.img | secure | async" matListAvatar />
        <a [routerLink]="'/profile/' + request.sender._id" matLine>{{ request.sender.name }}</a>

        Ο χρήστης σας έστειλε αίτημα σύνδεσης.
        <button (click)="acceptContactRequest(request)" mat-raised-button color="primary">Αποδοχή Αιτήματος</button>
        <button (click)="deleteContact(request)" mat-raised-button color="warn">Διαγραφή Αιτήματος</button>
      </mat-list-item>
    </mat-list>
  </mat-card>
  <mat-card>
    <h2>Πρόσφατες Ενημερώσεις</h2>
    <mat-list *ngFor="let article of recentArticles">
      <ng-container *ngFor="let interestedUser of article.interestNotes">
        <mat-list-item *ngIf="interestedUser._id !== user._id">
          <img [src]="interestedUser.img | secure | async" matListAvatar />
          <a [routerLink]="'/profile/' + interestedUser._id" matLine>
            {{ interestedUser.name }}
          </a>
          <span>
            <mat-icon>thumb_up</mat-icon>
            Ο χρήστης βρήκε ενδιαφέρον
            <a [fragment]="article._id" routerLink="/profile">το άρθρο σας</a>
            .
          </span>
        </mat-list-item>
      </ng-container>
      <ng-container *ngFor="let comment of article.comments">
        <mat-list-item *ngIf="comment.poster._id !== user._id">
          <img [src]="comment.poster.img | secure | async" matListAvatar />
          <a [routerLink]="'/profile/' + comment.poster._id" matLine>
            {{ comment.poster.name }}
          </a>
          <span>
            <mat-icon>comment</mat-icon>
            Ο χρήστης έγγραψε
            <a [fragment]="comment._id" routerLink="/profile"> ένα σχόλιο στο άρθρο σας </a>
            .
          </span>
        </mat-list-item>
      </ng-container>
    </mat-list>
  </mat-card>
</section>
