<div class="container">
	<mat-card>
		<h2>Αιτήματα Σύνδεσης</h2>
		<mat-list>
			<mat-list-item *ngFor="let request of requests">
				<img matListAvatar [src]="request.sender.img | secure | async" />
				<a matLine [routerLink]="'/profile/' + request.sender._id">{{request.sender.name}}</a>

				Ο χρήστης σας έστειλε αίτημα σύνδεσης.
				<button mat-raised-button color="primary" (click)="acceptContactRequest(request)">Αποδοχή Αιτήματος</button>
				<button mat-raised-button color="warn" (click)="deleteContact(request)">Διαγραφή Αιτήματος</button>
			</mat-list-item>
		</mat-list>
	</mat-card>
	<mat-card>
		<h2>Πρόσφατες Ενημερώσεις</h2>
		<mat-list *ngFor="let article of recentArticles">
			<ng-container *ngFor="let interestedUser of article.interestNotes">
				<mat-list-item *ngIf="interestedUser._id != user._id">
					<img matListAvatar [src]="interestedUser.img | secure | async" />
					<a matLine [routerLink]="'/profile/' + interestedUser._id">{{interestedUser.name}}</a>
					<p>
						<mat-icon>thumb_up</mat-icon> Ο χρήστης βρήκε ενδιαφέρον <a routerLink="/profile" [fragment]="article._id">το άρθρο σας</a>.
					</p>
				</mat-list-item>
			</ng-container>
			<ng-container *ngFor="let comment of article.comments">
				<mat-list-item  *ngIf="comment.poster._id != user._id">
					<img matListAvatar [src]="comment.poster.img | secure | async" />
					<a matLine [routerLink]="'/profile/' + comment.poster._id">{{comment.poster.name}}</a>
					<p>
    						<mat-icon>comment</mat-icon>
						Ο χρήστης έγγραψε <a routerLink="/profile" [fragment]="comment._id">ένα σχόλιο στο άρθρο σας</a>.
					</p>
				</mat-list-item>
			</ng-container>
		</mat-list>
	</mat-card>
</div>
