<mat-sidenav-container>
	<mat-sidenav opened [disableClose]="true" mode="side" class="mat-elevation-z8">
		<app-sidenav *ngIf="viewedUser" [user]="user" [viewedUser]="viewedUser" (errorEmitter)="onError($event)"></app-sidenav>
	</mat-sidenav>
	<mat-sidenav-content>
		<div class="container">
			<mat-card>
				<mat-error *ngIf="error">{{ error }}</mat-error>
				<div *ngIf="viewedUser.experience.entries">
					<!-- TODO Work experience etc -->
				</div>
				<form *ngIf="viewedUser._id === user._id" [formGroup]="experienceForm" (ngSubmit)="onSubmitExperience()">
					<h2>Εισαγωγή επαγγελματικής εμπειρίας</h2>
				</form>

				<div *ngIf="viewedUser.education"></div>
				<form *ngIf="viewedUser._id === user._id" [formGroup]="educationForm" (ngSubmit)="onSubmitEducation()">
					<h2>Εισαγωγή εκπαίδευσης</h2>
				</form>

				<div *ngIf="viewedUser.skills"></div>
				<form *ngIf="viewedUser._id === user._id" [formGroup]="skillsForm" (ngSubmit)="onSubmitSkills()">
					<h2>Εισαγωγή ικανότητας</h2>
				</form>
			</mat-card>
			<app-article-list [user]="user" [articles]="articles" (errorEmitter)="onError($event)"></app-article-list>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>
