<mat-table [dataSource]="users" matSort  class="mat-elevation-z8">
	<!-- Checkbox Column -->
	<ng-container matColumnDef="select">
		<mat-header-cell *matHeaderCellDef>Επιλογή</mat-header-cell>
		<mat-cell *matCellDef="let row">
			<mat-checkbox (click)="$event.stopPropagation()"
				(change)="$event ? selection.toggle(row) : null"
				[checked]="selection.isSelected(row)">
			</mat-checkbox>
		</mat-cell>
	</ng-container>
	<ng-container matColumnDef="_id">
		<mat-header-cell *matHeaderCellDef mat-sort-header>Αναγνωριστικό</mat-header-cell>
		<mat-cell *matCellDef="let row">{{row._id}}</mat-cell>
	</ng-container>
	<ng-container matColumnDef="name">
		<mat-header-cell *matHeaderCellDef mat-sort-header>Όνοματεπώνυμο</mat-header-cell>
		<mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
	</ng-container>
	<ng-container matColumnDef="email">
		<mat-header-cell *matHeaderCellDef mat-sort-header>Διεύθυνση Email</mat-header-cell>
		<mat-cell *matCellDef="let row">{{row.email}}</mat-cell>
	</ng-container>
	<ng-container matColumnDef="joinDate">
		<mat-header-cell *matHeaderCellDef mat-sort-header>Ημερομηνία Εγγραφής</mat-header-cell>
		<mat-cell *matCellDef="let row">{{row.joinDate}}</mat-cell>
	</ng-container>

	<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
	<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
