<mat-sidenav-container>
	<mat-sidenav opened [disableClose]="true" mode="side" class="mat-elevation-z8">
		<div class="alt-background">
			<button *ngIf="!newDiscussion" mat-raised-button color="primary" (click)="startDiscussion()">
				<mat-icon>message</mat-icon>
				Νέα Συζήτηση
			</button>
			<button *ngIf="newDiscussion" mat-raised-button color="warn" (click)="newDiscussion = false">
				Ακύρωση
			</button>
			<div *ngIf="newDiscussion">
				<mat-form-field>
					<input
						matInput
						type="search"
						[(ngModel)]="searchText"
						placeholder="Αναζήτηση στις επαφές"
					/>
				</mat-form-field>
				<mat-list>
					<a
						mat-list-item
						*ngFor="let user of contacts | filter: searchText"
						[routerLink]="'/discussions/' + user._id"
						(click)="newDiscussion = false"
					>
						<img matListAvatar [src]="user.img | secure | async" />
						<h3 matLine>{{ user.name }}</h3>
					</a>
				</mat-list>
			</div>
		</div>
		<mat-list id="existing-discussions" *ngIf="discussions && discussions.length">
			<h2>Υφιστάμενες συζητήσεις</h2>
			<a
				mat-list-item
				*ngFor="let user of discussions"
				[routerLink]="'/discussions/' + user._id"
				[class.selected]="discussionPartner && user._id === discussionPartner._id"
			>
				<img matListAvatar [src]="user.img | secure | async" />
				<h3 matLine>{{ user.name }}</h3>
				<p *ngIf="user.lastMessage" matLine>
					<mat-icon>message</mat-icon>
					{{ user.lastMessage }}
				</p>
			</a>
		</mat-list>
	</mat-sidenav>
	<mat-sidenav-content>
		<section *ngIf="discussionPartner">
			<div id="discussion">
				<div
					*ngFor="let message of messages"
					class="row"
					[ngClass]="{ sent: message.sender._id === user._id }"
				>
					<mat-card class="message">
						<mat-card-content>
							<a [routerLink]="'/profile/' + message.sender._id">
								<img
									mat-card-avatar
									[src]="message.sender.img | secure | async"
								/>
							</a>
							<p>{{ message.text }}</p>
						</mat-card-content>
						<mat-card-subtitle>
							{{ message.createdAt | date: "medium" }}
						</mat-card-subtitle>
					</mat-card>
				</div>
			</div>
			<div id="new-message" class="alt-background">
				<mat-form-field
					*ngIf="
						discussionPartner.contact && discussionPartner.contact.accepted;
						else outsideNetwork
					"
				>
					<textarea
						matInput
						matTextareaAutosize
						placeholder="Μήνυμα (Αποστολή με Enter)"
						[(ngModel)]="messageDraft"
						(keydown.enter)="sendMessage()"
					></textarea>
				</mat-form-field>
				<ng-template #outsideNetwork>
					<mat-card>
						Δεν μπορείτε να στείλετε μηνύματα σε αυτό το άτομο (εκτός Δικτύου)
					</mat-card>
				</ng-template>
			</div>
		</section>
	</mat-sidenav-content>
</mat-sidenav-container>
