mat-list#existing-discussions a:hover,
.selected {
  text-decoration: none;
  background-color: #eee;
}

.selected h3 {
  font-weight: bold;
}

#discussion {
  padding: 1em;
  margin-bottom: 100px;
}

#discussion mat-card {
  display: inline-block;
  margin: 1em;
  max-width: 50%;
}

#discussion mat-card p {
  white-space: pre-wrap; /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* IE */
}

.row {
  width: 100%;
  text-align: left;
}

mat-card-content {
  display: flex;
  align-items: center;
  flex-direction: row;
}

mat-card-content img {
  margin-right: 10px;
}

.row.sent {
  text-align: right;
}

.sent mat-card {
  background-color: #3f51b5;
  color: white;
}

.sent mat-card-content {
  flex-direction: row-reverse;
}

.sent mat-card-content img {
  margin-right: 0;
  margin-left: 10px;
}

.sent mat-card-subtitle {
  color: #eee;
}

#new-message {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 20%;
}

#new-message mat-card {
  margin: 0;
}
