<div class="container">
	<div class="search-area">
		<mat-form-field>
			<input
				matInput
				type="search"
				[(ngModel)]="searchText"
				placeholder="Αναζήτηση στους χρήστες της εφαρμογής"
			/>
		</mat-form-field>
		<div>
			<button mat-raised-button color="warn" (click)="searchText = ''">Καθαρισμός</button>
		</div>
	</div>
	<mat-grid-list *ngIf="!searchText || searchText === ''" cols="4" rowHeight="1:1">
		<h2>Το Δίκτυο μου</h2>
		<mat-grid-tile *ngFor="let user of contacts">
			<a [routerLink]="'/profile/' + user._id">
				<mat-card>
					<img mat-card-avatar [src]="user.img | secure | async" />
					<mat-card-title>{{ user.name }}</mat-card-title>
					<mat-card-subtitle *ngIf="user.currentStatus">
						<mat-icon>{{ user.currentStatus.what ? "work" : "school" }}</mat-icon>
						{{ user.currentStatus.what || "Σπουδάζει" }}
						<br />
						@
						<strong>{{ user.currentStatus.where }}</strong>
					</mat-card-subtitle>
				</mat-card>
			</a>
		</mat-grid-tile>
	</mat-grid-list>
	<mat-list *ngIf="searchText && searchText !== ''">
		<h2>Αποτελέσματα Αναζήτησης</h2>
		<a
			mat-list-item
			*ngFor="let user of allUsers | filter: searchText"
			[routerLink]="'/profile/' + user._id"
		>
			<img matListAvatar [src]="user.img | secure | async" />
			<h3 matLine>{{ user.name }}</h3>
			<p *ngIf="user.currentStatus">
				<mat-icon>{{ user.currentStatus.what ? "work" : "school" }}</mat-icon>
				{{ user.currentStatus.what || "Σπουδάζει" }} @
				<strong>{{ user.currentStatus.where }}</strong>
			</p>
		</a>
	</mat-list>
</div>
