<div class="container">
	<h1>
		Καλωσορίσατε στο AlmostLinkedIn!<br>
		<sub>(είμαι σίγουρος ότι το όνομα δεν καταπατά κανένα copyright... /s)</sub>
	</h1>
	<mat-card>
		<mat-card-content>
			<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
				<h2>Σύνδεση Χρήστη</h2>
				<mat-error *ngIf="error">{{error}}</mat-error>
				<mat-form-field>
					<input matInput type="email" placeholder="Διεύθυνση Email" formControlName="email" required />
					<mat-error>Παρακαλώ εισάγετε μια έγκυρη διεύθυνση email</mat-error>
				</mat-form-field>
				<mat-form-field>
					<input matInput type="password" placeholder="Κωδικός Πρόσβασης" formControlName="password" required />
					<mat-error>Παρακαλώ εισάγετε τον κωδικό πρόσβασής σας</mat-error>
				</mat-form-field>
				<mat-card-actions>
					<button mat-raised-button type="submit" color="primary">Σύνδεση</button>
				</mat-card-actions>
			</form>
		</mat-card-content>
	</mat-card>
</div>
