<nav class="nav nav-tabs navbar-expand-lg navbar-dark bg-primary">
	<a class="navbar-brand" routerLink="">LankedOn</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavDropdown">
		<ul class="navbar-nav">
			<li class="nav-item active">
				<a class="nav-link" routerLink="">Αρχική Σελίδα</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/network">Δίκτυο</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/job-ads">Αγγελίες</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/discussions">Συζητήσεις</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/notifications">Ειδοποιήσεις</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/personal-info">Προσωπικά Στοιχεία</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/settings">Ρυθμίσεις</a>
			</li>
		</ul>
	</div>
</nav>
<router-outlet></router-outlet>
