<mat-card class="container">
  <mat-card-content>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <h1>Εγγραφή Χρήστη</h1>
      <mat-form-field>
        <input matInput placeholder="Όνοματεπώνυμο" formControlName="name" required />
        <mat-error>Παρακαλώ εισάγετε το ονοματεπώνυμό σας</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="email" placeholder="Διεύθυνση Email" formControlName="email" required />
        <mat-error>Παρακαλώ εισάγετε μια έγκυρη διεύθυνση email</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="tel" placeholder="Αριθμός Τηλεφώνου" formControlName="phone" />
        <mat-error>Παρακαλώ εισάγετε έναν έγκυρο αριθμό τηλεφώνου</mat-error>
      </mat-form-field>
      <div id="fileArea">
        <label for="img">Επιλογή μιας εικόνας προφίλ:</label>
        <input id="img" (change)="onFileChange($event)" type="file" accept="image/*" />
        <img [src]="imageData" />
      </div>
      <mat-form-field>
        <input matInput type="password" placeholder="Κωδικός Πρόσβασης" formControlName="password" required />
        <mat-error>Ο κωδικός πρόσβασης πρέπει να έχει τουλάχιστον 8 χαρακτήρες</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="password"
          placeholder="Επανάληψη Κωδικού Πρόσβασης"
          formControlName="repeat_password"
          required
        />
        <mat-error>Παρακαλώ επαναλάβετε τον κωδικό πρόσβασής σας</mat-error>
      </mat-form-field>
      <mat-card-actions>
        <button mat-raised-button type="submit" color="primary" autofocus>ΕΓΓΡΑΦΗ</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
