<mat-sidenav-container>
	<mat-sidenav opened [disableClose]="true" mode="side" class="mat-elevation-z8">
		<app-sidenav [user]="user" [viewedUser]="user" (errorEmitter)="onError($event)"></app-sidenav>
	</mat-sidenav>
	<mat-sidenav-content>
		<div class="container">
			<mat-card>
				<mat-card-content>
					<form [formGroup]="articleForm" (ngSubmit)="onPost()">
						<mat-error *ngIf="error">{{ error }}</mat-error>
						<h2>Ανάρτηση άρθρου</h2>
						<mat-form-field>
							<mat-error>Παρακαλώ εισάγετε το κείμενο του άρθρου</mat-error>
							<textarea matInput matTextareaAutosize placeholder="Τι σκέφτεστε;" formControlName="text" required></textarea>
						</mat-form-field>
						<label for="media">Μπορείτε να επισυνάψετε αρχεία πολυμέσων: </label>
						<input id="media" type="file" multiple accept="image/*,audio/*,video/*" formControlName="media" (change)="onFileChange($event)" />
						<mat-card-actions>
							<button mat-raised-button type="submit" color="primary">Δημοσίευση</button>
						</mat-card-actions>
					</form>
				</mat-card-content>
			</mat-card>
			<app-article-list [user]="user" [articles]="articles" (errorEmitter)="onError($event)"></app-article-list>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>
