mat-sidenav {
	text-align: center;
}

.profile-area {
	display: block;
	padding: 1em;
}

.profile-area img {
	width: 70%;
	height: auto;
}

textarea { width: 100% }

mat-card {
	margin: 2em auto;
	padding: 0;
}

mat-card-title-group {
	padding: 16px 16px 0;
}

mat-card-content {
	padding: 16px;
	margin: 0;
}

.article-text {
	white-space: pre-wrap;
	text-align: justify;
}

.article-media * {
	max-width: 100%;
	margin: 0.5em 0;
}

mat-card-actions {
	margin: 0;
}

span {
	font-size: 0.8em;
}

.delete-area {
	float: right;
}

.comments {
	padding: 16px 16px 0;
	background-color: #eee;
}

.comments input {
	box-sizing: border-box;
	background-color: white;
	padding: 8px;
	margin-bottom: 16px;
}

.comment {
	display: flex;
	margin: 0.5em 0;
}

.comment > * {
	vertical-align: middle;
	padding: 5px;
}

.comment-header {
	margin-right: 0.5em;
}

.comment-header a {
	font-size: 1em;
}

.comment-header mat-card-subtitle {
	font-size: 0.8em;
	margin: 0;
}

.comment p {
	border-left: 1px solid #ccc;
	padding-left: 0.5em;
}
