<nav mat-tab-nav-bar color="primary">
	<a mat-tab-link routerLink="" routerLinkActive="active">Αρχική Σελίδα</a>
	<a mat-tab-link routerLink="/network" routerLinkActive="active">Δίκτυο</a>
	<a mat-tab-link routerLink="/job-ads" routerLinkActive="active">Αγγελίες</a>
	<a mat-tab-link routerLink="/discussions" routerLinkActive="active">Συζητήσεις</a>
	<a mat-tab-link routerLink="/notifications" routerLinkActive="active">Ειδοποιήσεις</a>
	<a mat-tab-link routerLink="/profile" routerLinkActive="active">Προσωπικά Στοιχεία</a>
	<a mat-tab-link routerLink="/settings" routerLinkActive="active">Ρυθμίσεις</a>
</nav>
