/* You can add global styles to this file, and also import other style files */

html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: "Open Sans", Roboto, "Helvetica Neue", sans-serif;
}

mat-sidenav {
	width: 20%;
	height: 100vh;
	text-align: center;
	position: fixed !important;
	margin-top: 64px;
	overflow: auto;
}

textarea {
	width: 100%;
}

mat-form-field {
	width: 100%;
}

mat-card {
	margin: 2em auto;
	padding: 0;
}

.search-area {
	display: flex;
	align-items: center;
}

.search-area button {
	margin-left: 8px;
}

mat-card-actions {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.alt-background {
	padding: 1em;
	background-color: #eee;
}

a + button,
button + button {
	margin-left: 5px !important;
}

p {
	white-space: pre-wrap; /* CSS3 */
	white-space: -moz-pre-wrap; /* Firefox */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* IE */
}

mat-icon {
	vertical-align: middle;
	font-size: 1.2em;
	margin-right: 5px;
}

a {
	color: inherit;
	text-decoration: inherit;
}

a:hover {
	text-decoration: underline;
}

.flexExpand {
	flex: 1 1 auto;
}

.container {
	width: 70%;
	margin: 2em auto;
}

.mat-row.hovered {
	background: #eee;
}

.mat-row.highlighted {
	background: rgba(0, 0, 0, 0.12);
}

/* Searchable lists with scroll */
mat-form-field + mat-list {
	max-height: 400px;
	overflow: auto;
}

label + input {
	margin-left: 8px;
}

/* TODO Fix Anchor/Fragment Scrolling with fixed navbar */
:target::before {
	content: "";
	display: block;
	position: relative;
	height: 64px; /* fixed header height */
	margin-top: -64px; /* negative fixed header height */
}
