/* You can add global styles to this file, and also import other style files */

html, body {
	height: 100%;
}

body {
	margin: 0;
	font-family: "Open Sans", Roboto, "Helvetica Neue", sans-serif;
}

a {
	color: inherit; /* blue colors for links too */
	text-decoration: inherit; /* no underline */
}

a:hover {
	text-decoration: underline;
}

mat-sidenav {
	width: 20%;
}

.flexExpand {
	flex: 1 1 auto;
}

.container {
	width: 70%;
	margin: 2em auto;
}

mat-form-field {
	width: 100%;
}

mat-card-actions {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.mat-row.hovered {
	background: #eee;
}

.mat-row.highlighted {
	background: rgba(0,0,0,.12);
}
