/* You can add global styles to this file, and also import other style files */

html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: "Open Sans", Roboto, "Helvetica Neue", sans-serif;
}

mat-sidenav {
	width: 20%;
	height: 100vh;
	text-align: center;
	position: fixed !important;
	margin-top: 64px;
}

textarea {
	width: 100%;
}

mat-form-field {
	width: 100%;
}

mat-card {
	margin: 2em auto;
	padding: 0;
}

mat-card-actions {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

mat-list-item button,
.delete-area button {
	margin: 0 5px;
}

p {
	white-space: pre-wrap;
}

mat-icon {
	vertical-align: middle;
	font-size: 1.2em;
}

a {
	color: inherit; /* blue colors for links too */
	text-decoration: inherit; /* no underline */
}

a:hover {
	text-decoration: underline;
}

.flexExpand {
	flex: 1 1 auto;
}

.container {
	width: 70%;
	margin: 2em auto;
}

.mat-row.hovered {
	background: #eee;
}

.mat-row.highlighted {
	background: rgba(0, 0, 0, 0.12);
}
