<section class="container">
  <mat-card>
    <mat-card-content>
      <form #formDirective="ngForm" [formGroup]="jobAdForm" (ngSubmit)="onPost(formDirective)">
        <h2>Ανάρτηση αγγελίας</h2>
        <mat-form-field>
          <input matInput type="text" placeholder="Τίτλος θέσης" formControlName="what" required />
          <mat-error>Παρακαλώ εισάγετε τον τίτλο θέσης</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" placeholder="Επωνυμία Εταιρίας/Οργανισμού" formControlName="where" required />
          <mat-error>Παρακαλώ εισάγετε την επωνυμία της εταιρίας</mat-error>
        </mat-form-field>
        <mat-form-field>
          <textarea
            matInput
            matTextareaAutosize
            placeholder="Περιγραφή θέσης"
            formControlName="description"
            required
          ></textarea>
          <mat-error>Παρακαλώ εισάγετε την περιγραφή της θέσης</mat-error>
        </mat-form-field>
        <mat-card-actions>
          <button mat-raised-button type="submit" color="primary">Δημοσίευση</button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>

  <!-- job ad list -->
  <mat-card
    class="job-ad"
    *ngFor="let jobAd of jobAds"
    [id]="jobAd._id"
    [ngClass]="{ 'mat-elevation-z8': fragment === jobAd._id }"
  >
    <mat-card-title-group>
      <img [src]="jobAd.poster.img | secure | async" mat-card-sm-image />
      <a [routerLink]="'/profile/' + jobAd.poster._id" mat-card-title>{{ jobAd.poster.name }}</a>
      <a [fragment]="jobAd._id" mat-card-subtitle routerLink="/job-ads">
        {{ jobAd.createdAt | date: "medium" }}
      </a>
    </mat-card-title-group>
    <mat-card-content>
      <p>Για τη θέση:</p>
      <mat-list>
        <mat-list-item>
          <img matListAvatar src="/assets/experience.png" />
          <h3 matLine>{{ jobAd.what }}</h3>
          <span matLine>{{ jobAd.where }}</span>
        </mat-list-item>
      </mat-list>
      <p>{{ jobAd.description }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button [ngClass]="{ 'mat-primary': hasApplied(user, jobAd) }" (click)="toggleApply(jobAd)" mat-button>
        <mat-icon>attachment</mat-icon>
        {{ hasApplied(user, jobAd) ? "Έγινε αίτηση" : "Αίτηση" }}
      </button>
      <ng-container *ngIf="jobAd.applications.length">
        <button
          class="view-applications"
          [ngClass]="{ 'alt-background': jobAd.viewApplications }"
          (click)="jobAd.viewApplications = !jobAd.viewApplications"
          mat-button
        >
          <mat-icon>view_list</mat-icon>
          Προβολή Αιτήσεων
        </button>
        <span>{{ jobAd.applications.length }} υποψήφιοι έχουν κάνει αίτηση</span>
      </ng-container>
      <section class="delete-area" *ngIf="jobAd.poster._id === user._id">
        <button *ngIf="!jobAd.delete; else confirmDelete" (click)="jobAd.delete = true" mat-button color="warn">
          <mat-icon>delete_forever</mat-icon>
          Διαγραφή Αγγελίας
        </button>
        <ng-template #confirmDelete>
          Σίγουρα?
          <button (click)="delete(jobAd)" mat-raised-button color="warn">Ναι</button>
          <button (click)="jobAd.delete = false" mat-raised-button color="primary">Όχι</button>
        </ng-template>
      </section>
    </mat-card-actions>
    <section class="alt-background applications" *ngIf="jobAd.applications.length && jobAd.viewApplications">
      <mat-form-field>
        <input [(ngModel)]="jobAd.searchText" matInput type="search" placeholder="Αναζήτηση στους υποψήφιους" />
      </mat-form-field>
      <mat-list>
        <a
          *ngFor="let user of jobAd.applications | filter: jobAd.searchText"
          [routerLink]="'/profile/' + user._id"
          mat-list-item
        >
          <img [src]="user.img | secure | async" matListAvatar />
          <h3 matLine>{{ user.name }}</h3>
        </a>
      </mat-list>
    </section>
  </mat-card>
</section>
